<!-- <p>dashboard works!</p> -->
<div class="dashboard-container">
  <h2>Prompt2Website Generator</h2>
  
  <div class="form-group">
    <label>Select Frontend Stack:</label>
    <select>
      <!-- <option value="angular">Angular</option> -->
     <option value="angular">Angular</option>
    </select>
  </div>

  <div class="form-group">
    <label>Select Backend Stack:</label>
    <select>
      <option value="springboot">Spring Boot (Java)</option>
    </select>
  </div>

  <div class="form-group">
    <label>Enter Project Idea / Prompt:</label>
    <textarea rows="4" placeholder="Describe your web application..."></textarea>
  </div>

  <button class="generate-btn">Generate Project</button>
</div>