<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/dashboard">Prompt2Website</a>
  </div>

  <div class="navbar-right" *ngIf="isLoggedIn; else guestLinks">
    <div class="user-profile">
      <span class="avatar-icon">👤</span>
      <span class="user-name">{{ userName }}</span>
    </div>
    <button class="logout-btn" (click)="logout()">Sign Out</button>
  </div>

  <ng-template #guestLinks>
    <div class="navbar-right">
      <a routerLink="/auth" class="sign-in-link">Sign In</a>
    </div>
  </ng-template>
</nav>